<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/018f09a4-0e98-4123-9ac2-9ddbb1e5bef6/resourceGroups/bookMyseat99_group/providers/Microsoft.Web/sites/bookMyseat99</ResourceId>
    <ResourceGroup>bookMyseat99_group</ResourceGroup>
    <ApiResourceId>/subscriptions/018f09a4-0e98-4123-9ac2-9ddbb1e5bef6/resourceGroups/bookMyseat99_group/providers/Microsoft.ApiManagement/service/BookMySeatapi/apis/BookMySeat</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://bookmyseat99.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>651f7fdf-9ad7-46a3-851d-1b0a8443ebed</ProjectGuid>
    <MSDeployServiceURL>bookmyseat99.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>bookMyseat99</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$bookMyseat99</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>